<!DOCTYPE HTML>

<html>

<head>
	<title>Twitter Sentiment for trends</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
<span class="user">Welcome, {{ user }}</span>
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<span class="logo"><img src="images/twitter-seeklogo.com.svg" alt="" /></span>
			<h1>Twitter</h1>
			<p>A Sentiment Analyser for trends in USA<br />
			</p>
		</header>

		<nav id="nav">
			<ul>
				<li><a href="#intro" class="active">Current Trends</a></li>
				<li><a href="#first">Search Trend</a></li>
			</ul>
		</nav>

		<div id="main">

			<section id="intro" class="main">
				<div class="w3-container w3-mobile w3-center">
					<h1>
						Top 10 Trends
					</h1>
					<div class="row">
						<div class="col w3-half">
							<button id=1 onclick="myfunction(this.id)">{{ trend1 }}</button>

						</div>
						<div class="col w3-half">
							<button id=2 onclick="myfunction(this.id)">{{ trend2 }}</button>
						</div>
						</div>
						<div class="row" style="margin-top: 5%;">
						<div class="col w3-half">
							<button id=3 onclick="myfunction(this.id)">{{ trend3 }}</button>

						</div>
						<div class="col w3-half">
							<button id=4 onclick="myfunction(this.id)">{{ trend4 }}</button>

						</div>
					</div>

					
					<div class="row" style="margin-top: 5%;">
						<div class="col w3-half">
							<button id=5 onclick="myfunction(this.id)">{{ trend6 }}</button>

						</div>
						<div class="col w3-half">
							<button id=6 onclick="myfunction(this.id)">{{ trend7 }}</button>

						</div></div>
						<div class="row" style="margin-top: 5%;">
						<div class="col w3-half">
							<button id=7 onclick="myfunction(this.id)">{{ trend8 }}</button>

						</div>
						<div class="col w3-half">
							<button id=8 onclick="myfunction(this.id)">{{ trend9 }}</button>

						</div>


					</div>
					<div class="row" style="margin-top: 5%;">
						<div class="col w3-half w3-center">
							<button id=9 onclick="myfunction(this.id)">{{ trend10 }}</button>

						</div>
						<div class="col w3-half w3-center">
							<button id=10 onclick="myfunction(this.id)">{{ trend5 }}</button>

						</div>
					</div>
					<div id = "loading" class="lds-roller w3-modal-content " style="display: none; position: fixed;
					top: 50%;
					left: 50%;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
					<div id="id01" class="w3-modal w3-animate-opacity">
						<div class="w3-modal-content w3-card-4">
							<header class="w3-container">
								<span onclick="document.getElementById('id01').style.display='none'"
									class="w3-button w3-large w3-display-topright">&times;</span>
								<h2 id=555>Sentiment Analysis</h2>
							</header>
							
							<div class="w3-container">
								<div class="w3-third ">
									<div style="font-size: 1.2em;">-VE Sentiments<br>
										+VE Sentiments</div>
								</div>
								<div class="wrap w3-twothird">

									<div class="holder">
										<div class="bar " id=100 data-percent="1%"><span class="label"
												style="width: 0% ; padding: 0em;"></span></div>
										<div class="bar" id=101 data-percent="99%"><span class="label second"
												style="width: 0%;padding: 0em;"></span>
										</div>

									</div>
								</div>
							</div>
							<footer>
								<br>
							</footer>
						</div>
					</div>
				</div>
			</section>

			<!-- First Section -->
			<section id="first" class="main special">
				<header class="major">
					<h2>Search for a trend</h2>
				</header>
				<label class="field a-field a-field_a1">
					<input id = 801 class="field__input a-field__input" placeholder="e.g. xbox" required>
					<span class="a-field__label-wrap">
					  <span class="a-field__label">Enter Trend</span>
					</span>
				  </label>
				  <div class=" w3-center">
					<button id=11 onclick="myfunction2(801)" title="Search">Search</button>
				</div>
			</section>

			

		</div>

	
		<footer id="footer">
			<section>
				<h2>Created By</h2>
				<p>Shubhang Sharma.</p>
			</section>
			</footer>

	</div>

	
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script>
		function myfunction(buttonId) {
			console.log(buttonId)
			var trend = document.getElementById(buttonId).innerHTML;
			document.getElementById("loading").style.display = 'block';
			
var scrollPosition = [
  self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
  self.pageYOffset || document.documentElement.scrollTop  || document.body.scrollTop
];
var html = jQuery('html'); 
html.data('scroll-position', scrollPosition);
html.data('previous-overflow', html.css('overflow'));
html.css('overflow', 'hidden');
window.scrollTo(scrollPosition[0], scrollPosition[1]);
			fetch('http://127.0.0.1:5000/api/' + trend.replace('#',''))
				.then(res => res.json())
				.then((out) => {
					var neg = out.Negative * 100;
					var pos = out.Positive * 100;
					document.getElementById(100).setAttribute("data-percent", neg.toString() + '%');
					document.getElementById(101).setAttribute("data-percent", pos.toString() + '%');
					document.getElementById("loading").style.display = 'none';			
					var html = jQuery('html');
					var scrollPosition = html.data('scroll-position');
					html.css('overflow', html.data('previous-overflow'));
					window.scrollTo(scrollPosition[0], scrollPosition[1]);
					document.getElementById("id01").style.display = 'block';
					setTimeout(function start() {

						$('.bar').each(function (i) {
							var $bar = $(this);
							setTimeout(function () {
								$bar.css('width', $bar.attr('data-percent'));
							}, i * 100);
						});

						$('.count').each(function () {
							$(this).prop('Counter', 0).animate({
								Counter: $(this).parent('.bar').attr('data-percent')
							}, {
								duration: 2000,
								easing: 'swing',
								step: function (now) {
									$(this).text(Math.ceil(now) + '%');
								}
							});
						});

					}, 500)

					console.log('Output: ', out);
				}).catch(err => alert('API Rate Exceeded'));

			console.log(trend)

			document.getElementById(555).innerHTML='Sentiment Analysis Result for ' + trend;
		}
		function myfunction2(buttonId) {
			console.log(buttonId)
			var trend = document.getElementById(buttonId).value;
			document.getElementById("loading").style.display = 'block';
			// lock scroll position, but retain settings for later
var scrollPosition = [
  self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
  self.pageYOffset || document.documentElement.scrollTop  || document.body.scrollTop
];
var html = jQuery('html'); 
html.data('scroll-position', scrollPosition);
html.data('previous-overflow', html.css('overflow'));
html.css('overflow', 'hidden');
window.scrollTo(scrollPosition[0], scrollPosition[1]);
			fetch('http://127.0.0.1:5000/api/' + trend.replace('#',''))
				.then(res => res.json())
				.then((out) => {
					var neg = out.Negative * 100;
					var pos = out.Positive * 100;
					document.getElementById(100).setAttribute("data-percent", neg.toString() + '%');
					document.getElementById(101).setAttribute("data-percent", pos.toString() + '%');
					document.getElementById("loading").style.display = 'none';
					
					var html = jQuery('html');
					var scrollPosition = html.data('scroll-position');
					html.css('overflow', html.data('previous-overflow'));
					window.scrollTo(scrollPosition[0], scrollPosition[1]);
					document.getElementById("id01").style.display = 'block';
					setTimeout(function start() {

						$('.bar').each(function (i) {
							var $bar = $(this);
							setTimeout(function () {
								$bar.css('width', $bar.attr('data-percent'));
							}, i * 100);
						});

						$('.count').each(function () {
							$(this).prop('Counter', 0).animate({
								Counter: $(this).parent('.bar').attr('data-percent')
							}, {
								duration: 2000,
								easing: 'swing',
								step: function (now) {
									$(this).text(Math.ceil(now) + '%');
								}
							});
						});

					}, 500)

					console.log('Output: ', out);
				}).catch(err => alert('API Rate Exceeded'));

			console.log(trend)

			/*fetch('https://sentimenttwittertrend.herokuapp.com/api/' + trend)
				.then(res => res.json())
				.then((out) => {
					console.log('Output: ', out);
				}).catch(err => console.error(err));*/
		}
	</script>
</body>

</html>